In [1]:
import warnings
warnings.filterwarnings('ignore')

import random
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
from scipy.stats import t, norm, chi2, chi2_contingency

from matplotlib import rc
rc('font', family='Malgun Gothic')      #한글 폰트설정
plt.rcParams['axes.unicode_minus']=False      #마이너스 부호 출력 설정

In [2]:
import math, scipy, sympy
from bs4 import BeautifulSoup as BS
import requests, re, urllib

from urllib import robotparser
from urllib.request import urlopen
import chardet

import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from time import sleep

Q1. url = "http://finance.naver.com/marketindex/"사이트에서 usd/krw 환율을 출력하세요.

In [9]:
url = "http://finance.naver.com/marketindex/"
html = requests.get(url).text
bs = BS(html, 'html.parser')
value = bs.select_one('#exchangeList > li.on > a.head.usd > div > span.value').text
print(f'미국 환율(usd): {value}')

미국 환율(usd): 1,324.20

Q2. 'https://news.naver.com/main/main.nhn?mode=LSD&mid=shm&sid1=100'사이트에서 '기사목록'을 출력하세요

Q3. 아래 html에서 아래와 같이 출력하세요.

In [ ]:
naver > http://www.naver.com
daum > http://www.daum.net

In [ ]:
html = """
<html><body>
  <ul>
    <li><a href="http://www.naver.com">naver</a></li>
    <li><a href="http://www.daum.net">daum</a></li>
  </ul>
</body></html>
"""

Q4. 아래 html에서 다음을 수행하세요.
- html에 들여쓰기를 적용하세요
- 세가지 방법으로 텍스트를 출력하세요.

In [1]:
html = '''
<html>
<body>
<div>
Hello,world!
</div>
<div>
<p>
Hello,<b>world!</b>
</p>
</div>        
</body>
</html>
'''

Q5. 정규표현식을 사용하여 아래와 같이 출력하세요.

In [ ]:
Hello,world!
Hello,world!

Q6. 정규표현식을 사용하여 아래와 같이 출력하세요.

In [ ]:
Hello,world! Hello,world!

Q7. html_doc에서 영어 텍스트만 출력하세요.

In [74]:
html_doc = """<html><head><title>The Dormouse's story</title></head>
<body>
<div></div>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
"""

Q8. 아래 텍스트에서 개행을 정규표현식을 사용해서 제거한 후 출력하세요.

In [78]:
print(soup.get_text())

The Dormouse's story


The Dormouse's story
Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.
...

Q10. url에서 데이터를 가져와서 불필요한 스페이스를 제거한 후 한글만 출력하세요.

url = 'https://news.naver.com/main/main.nhn?mode=LSD&mid=shm&sid1=100'

Q11. "http://www.naver.com" 사이트에서 span 태그에 연결된 한글 전부를 불필요한 공백을 제거한 후 출력하세요.

Q12. url = 'https://naver.com'에서 셀레니움을 활용하여 경제 뉴스 카테고리로 들어간 후 BS 메서드를 이용하여 뉴스 제목과 링크를 10개씩 출력하세요.

Q13. url = 'https://naver.com'에서 셀레니움을 활용하여 경제 뉴스 카테고리에서 뉴스 제목과 링크를 10개씩 출력하세요.

Q14. "http://www.naver.com" 사이트에서 a 태그에 id가 있는 경우에 대하여 연결된 문자 + 숫자를 아래와 같이 출력하세요.
- 해당되는 조건에 맞게 모두 출력
- 한글만 열방향으로 출력
- 불필요한 공백을 제거한 후 한글만 한줄에 출력

Q15. 네이버 영화 랭킹 실시간 조회 데이터를 가져와서 Top 10 영화를 아래와 같이 출력하세요.

Q16. 네이버 뉴스 데이터 사회분야 데이터를 가져와서 다음을 수행하세요.
- 첫번째 뉴스 제목과 href를 출력
- 뉴스 제목과 href를 각각 10개씩 출력

Q17. 구글에서 "빅데이터"라는 검색어로 검색한 후 검색 결과를 가져와서 출력하고 파일로 저장

Q18. 'https://www.naver.com/'에서 뉴스 > 사회 카테고리 클릭하고 뉴스 제목 20개를 출력하세요.

Q19. daum.net 에서 빅데이터를 검색해서 출력하세요(CSS_SELECTOR 사용)

Q20. 셀레니움으로 아래를 수행하여 네이버 로그인 후 메일을 확인하세요.
- 자바스크립트로 데이터 입력하기
- 로그인 폼의 id와 pw 요소에 직접 데이터 전달