In [ ]:
%pwd         #현재 사용중인 작업폴더를 알려줌

'C:\\Users\\h\\hmkd1\\m1_programming'

In [ ]:
f1=open('test1.txt','r',encoding='UTF8')    #r+: 읽기-쓰기 모드(이어쓰기)
a=f1.readlines()
print(a)

f1.close()

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n', '11번째 줄입니다. \n', '12번째 줄입니다. \n', '13번째 줄입니다. \n', '14번째 줄입니다. \n', '15번째 줄입니다. \n']

In [ ]:
f1=open('test1.txt','w',encoding='UTF8')
for i in range(1,11):
    data="%d번째 줄입니다.\n" %i
    f1.write(data)
    
f1.close()

In [ ]:
f1=open('test1.txt','r',encoding='UTF8')

while True:      #안에 글이 몇 줄 있는지 모르니 무한루프
    line=f1.readline()
    if not line:       #안에 글이 없으면 종료
        break
    print(line,end='')
f1.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [ ]:
f1=open('test1.txt','r',encoding='UTF8')

data=f1.read()      #파일 전체 내용 문자열(str)로 받아오기
print(data)

f1.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [ ]:
f1=open('test1.txt','a',encoding='UTF8')

for i in range(11,16):
    data='%d번째 줄입니다. \n' %i
    f1.write(data)
f1.close()

In [ ]:
with open('test2.txt','w') as f:
    f.write('파이썬을 배웁시다.')

In [ ]:
with open('test2.txt','r') as f:
    data=f.read()
    print(data)

파이썬을 배웁시다.

In [ ]:
with open('test3.txt','w') as f:
    for i in range(1,11):
        data=f'{i}번째 줄입니다~!\n'
        f.write(data)

In [ ]:
with open('test3.txt','r') as f:
    data=f.read()
    print(data)

1번째 줄입니다~!
2번째 줄입니다~!
3번째 줄입니다~!
4번째 줄입니다~!
5번째 줄입니다~!
6번째 줄입니다~!
7번째 줄입니다~!
8번째 줄입니다~!
9번째 줄입니다~!
10번째 줄입니다~!

In [ ]:
a=abs(-3)     #절대값
b=all([1,2,3,4,0])    #and(하나라도 거짓이면 거짓)      0=거짓
c=any([1,2,3,4,0])    #or(하나만 참이면 참)
d=chr(65)     #아스키코드 변환

print(a,b,c,d)

3 False True A

In [ ]:
mylist=[lambda a,b:a+b, lambda a,b:a-b, lambda a,b:a*b, lambda a,b:a/b]    
#변수:식
#리스트에 여러 수식 넣어두고 사용 가능

print(mylist[0](2,5), mylist[2](7,9))         #함수호출

for i in range(len(mylist)):        #전체 다 쓰려면 이렇게 하기
    print(mylist[i](10,2))

7 63
12
8
20
5.0

In [4]:
print(divmod(7,3))   #몫,나머지 구해줌
print(eval('7+3'))   #실행 가능한 '문자열'을 입력받으면 연산해줌

(2, 1)
10

In [ ]:
for i, name in enumerate(['james','tom','susan']):
    print(i,name)
#enumerate: 인덱스값이 같이 나옴!!!!

0 james
1 tom
2 susan

In [ ]:
menu=['짜장면','짬뽕','볶음밥','탕수육','깐풍기','냉우동','음료','물']
for i, k in enumerate(menu):
    print(i,k)

0 짜장면
1 짬뽕
2 볶음밥
3 탕수육
4 깐풍기
5 냉우동
6 음료
7 물

In [ ]:
import pickle
with open('test4.txt','wb') as f:
    data={1:'python',2:'you need'}
    pickle.dump(data,f)     #파이썬 개체를 파일에 저장

with open('test4.txt','rb') as f:
    data=pickle.load(f)     #파이썬 개체 저장파일 불러오기
    print(data)

{1: 'python', 2: 'you need'}

In [ ]:
import os
os.chdir(r'C:\Users\h\hmkd1')    #폴더 변경
%pwd      #현재 폴더 확인

'C:\\Users\\h\\hmkd1'

In [ ]:
import os
os.chdir(r'C:\Users\h\hmkd1\m1_programming')
%pwd

'C:\\Users\\h\\hmkd1\\m1_programming'

In [ ]:
import os
os.rename('test1.txt','test1_new.txt')    #파일명 변경

In [ ]:
import glob     #폴더 내 해당하는 이름의 파일 전부 찾기
glob.glob(r'C:\Users\h\hmkd1\m1_programming/*.txt')

['C:\\Users\\h\\hmkd1\\m1_programming\\test1.txt',
 'C:\\Users\\h\\hmkd1\\m1_programming\\test2.txt',
 'C:\\Users\\h\\hmkd1\\m1_programming\\test3.txt',
 'C:\\Users\\h\\hmkd1\\m1_programming\\test4.txt']

In [3]:
#2삭제 후 출력(내장함수, 3가지 방법)
#모든 원소 삭제 후 출력

list=[10,11,12,13,14,15,16]

#del(list[2])     #인덱스로 값 삭제(범위 지정도 가능)
a=list.pop(2)     #인덱스로 삭제 후 해당 값 반환
#list.remove(2)   #지정한 값과 같은 값 삭제(중복일 경우 맨 처음 거)

print(list)
print(a)

list.clear()    #리스트에 저장된 모든 값 삭제
print(list)

[10, 11, 13, 14, 15, 16]
12
[]

In [26]:
#람다함수와 적합한 내장함수를 사용해 출력
list=[1,2,3,4,5]

list_n=[]
x=lambda a:a**2  

for i in list:          # [1,2,3,4,5] -> [1,4,9,16,25]
    list_n.append(x(i))
    
del(list[2:])           # [1,2,3,4,5] -> [1,2]

print(list_n) 
print(list)

[1, 4, 9, 16, 25]
[1, 2]

In [3]:
#람다함수와 적합한 내장함수를 사용해 출력(강사님 코드)
x=lambda a:a**2  
list1=[x(i) for i in range(1,6)]
print(list1)

list2=[1,2,3,4,5]
filter_list=[]
filter_list=filter(lambda a:(a<3),list2)
print(list(filter_list))

[1, 4, 9, 16, 25]

[1, 2]

In [31]:
#[1,-3,2,0,-5,6] 양수만 필터링해 출력 (내장함수)

list=[1,-3,2,0,-5,6]
list_n=[]

for i in list:
    if abs(i)==i and i!=0:    #절대값과 본래값이 같은 것만(단, 0 제외)
        list_n.append(i)
print(list_n)

[1, 2, 6]

In [10]:
#[1,-3,2,0,-5,6] 양수만 필터링해 출력
#사용자 정의함수

def plu(list):
    list_n=[]
    for i in list:
        if i>0:
            list_n.append(i)
    return list_n

###################################

list=[1,-3,2,0,-5,6]
print(plu(list))

[1, 2, 6]

In [8]:
#[1,-3,2,0,-5,6] 양수만 필터링해 출력

a=[1,-3,2,0,-5,6]
for i in a:
    if i==abs(i) & i!=0:
        print(i,end=' ')

1 2 6

In [4]:
#내장함수를 이용해 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환
#[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
#zip() 사용하면 좋음

lista=[[1,2,3],[4,5,6]]
lista_n=[]

for i in range(3):
    tup=(lista[0][i],lista[1][i])
    lista_n.append(tup)

print(lista_n)

[(1, 4), (2, 5), (3, 6)]

In [ ]:
#내장함수를 이용해 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환
#zip() 이용 (유리님 코드)

#[1,2,3],[4,5,6]->[(1,4),(2,5),(3,6)]
a=[1,2,3]
b=[4,5,6]
print(list(zip(a,b)))

#[1,2,3],[4,5,6][7,8,9]->[(1,4,7),(2,5,8),(3,6,9)]
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]
print(list(zip(a,b,c)))

#('abc','def') -> [('a','d'),('b','e'),('c','f')]
a=['a','b','c']
b=['d','e','f']

print(list(zip(a,b)))

In [7]:
#내장함수를 이용해 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환
#자동 돌리기 (튜플x 리스트o)

#lista=[1,2,3],[4,5,6]
lista=[[1,2,3],[4,5,6],[7,8,9]]
listb=sum(lista,[])
lista_n=[]

for k in range(len(lista[0])):
    tup1=tuple(listb[k::len(lista[0])])
    lista_n.append(tup1)

print(lista_n)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [ ]:
#내장함수를 이용해 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환
# [1,2,3],[4,5,6], [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]

lista=[[1,2,3],[4,5,6],[7,8,9]]
lista_n=[]

for i in range(3):
    tup=(lista[0][i],lista[1][i],lista[2][i])
    lista_n.append(tup)

print(lista_n)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [ ]:
#내장함수를 이용해 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환
# ('abc','def') -> [('a','d'),('b','e'),('c','f')]

tupa=('abc','def')
lista_n=[]

for i in range(3):
    tup=(tupa[0][i],tupa[1][i])
    lista_n.append(tup)

print(lista_n)

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [9]:
#입력한 모든 수의 평균 값을 구하는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

def sum(mun):
    print(f"합: {eval(mun)}")    #입력된 문자열이 연산이 가능한 형태면 연산해 줌
    print(f"평균: {(eval(mun)/len(mun.split('+'))):0.2f}")

###################################################

mun=input("평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): ")
mun_n=mun.replace(',','+')    #1,2,3 -> 1+2+3

sum(mun_n)

평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): 1,2,3
합: 6
평균: 2.00

In [4]:
#위와 같이 평균 구하는 함수
#단, 입력 개수가 정해져 있지x

def average(*args):
    x=0
    for i in args:
        x=(x+i)
    result=x/len(args) 
    return result

###################################################

r=average(1,2,3)    
print(r)

2.0

In [12]:
def sum(first, end):
    result=0
    for i in range(first,end+1):
        result+=i
    return result

###################################################

print(sum(100,200))   #n~m 사이의 합 구하기
print(sum(200,300))

15150
25250

In [16]:
import numpy as np

a=np.arange(100,201)
a=list(a)
print(a, type(a))

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200] <class 'list'>

In [13]:
def sum(*args):
    result=0
    for i in args:
        result+=i
    return result

###################################################

print(sum(100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
       126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151,
       152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164,
       165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177,
       178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190,
       191, 192, 193, 194, 195, 196, 197, 198, 199, 200)) 
print(sum(200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300))

15150
25250

In [11]:
#[과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
#튜플에서도 사용 가능한 코드
#set() 사용

#strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
lc=[]
mydic={}

for i in strings:
    ct=0
    for k in range(97,123):     #아스키코드(알파벳 a~z = 97~122)
        if chr(k) in i:      #chr: 숫자->알파벳 변환
            ct+=1
    lc.append(ct)    #lc=[1,2,3,1,2] 쓰인 알파벳 개수 저장
    
for i in range(len(strings)):
    mydic[strings[i]]=lc[i]    #딕셔너리에 {문자:알파벳 개수} 저장

for i in range(26,-1,-1):     #알파벳=26개=최대 쓰일 수 있는 문자 수
    if i in lc:     #lc 안에 해당 개수가 있을 때만(그냥 26번 전부 돌지 말라고 추가)
        for key, value in mydic.items():   #.items() -> 딕셔너리 키, 값 사용
            if value==i:    #개수에 해당하는 key값(strings리스트 저장해 둔) 출력
                print(key, end=' ')

bar ca ababa a aaaa

In [18]:
#[과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
#강사님 코드
#'key'값을 기준으로 sort

strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key=lambda x:len(set(x)))     #기본 정렬(오름차순)
print(strings)

print(strings[::-1])     #거꾸로 출력(내림차순으로 나오게)

['a', 'aaaa', 'ca', 'ababa', 'bar']
['bar', 'ababa', 'ca', 'aaaa', 'a']

In [18]:
#[과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
#람다, sort, set 사용

strings=['a','ca','ababa','aaaa','bar']
count={}

strings.sort(key=lambda x:len(set(x)),reverse=True)   #역순 정렬
print(strings)

['bar', 'ca', 'ababa', 'a', 'aaaa']

In [20]:
#[과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
#튜플의 경우 (튜플은 sort 속성이 없음)

strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
s_list=list(strings)
s_list.sort(key=lambda x:len(set(x)))     #기본 정렬(오름차순)

print(s_list[::-1])     #거꾸로 출력(내림차순으로 나오게)

['a', 'aaaa', 'ca', 'ababa', 'bar']
['bar', 'ababa', 'ca', 'aaaa', 'a']

In [22]:
#url에서 호스트 도메인을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

do=url.find('.com')
print(url[7:do+4])   #프로토콜 제외

news.naver.com

In [24]:
#[과제] url에서 쿼리문을 추출하여 출력하세요.
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

do=url.find('?')
qr=url[do+1:].split('&')   #방법1

print(url[do+1:])
print(qr,'\n')

x=url.split('?')      #방법2
qr=x[1].split('&')

print(qr)
print('\n'.join(qr))

mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601
['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']
mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601

#### sort, sorted 모두 key, reverse 매개변수를 갖고 있다.
- reverse: 기본값은 reverse=False(오름차순)/ reverse=True(내림차순) 정렬
- key: 정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수 있고, key값을 기준으로 정렬되고 기본값은 오름차순