## 파이썬 기초

#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 시스템 유틸리티 제작
- GUI 프로그래밍
- C/C++와의 결합
- 웹 프로그래밍
- 수치 연산 프로그래밍
- 데이터베이스 프로그래밍
- 데이터 분석, 사물 인터넷

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [10]:
!python -V

Python 3.9.13

In [12]:
#표현식
print(273)
10+20+30

273

60

In [14]:
#표현식이 하나 이상씩 모이면 문장
print("Hello World!")
print(52, "Hi", 5+3)

Hello World!
52 Hi 8

In [1]:
#문장이 모여서 프로그램 (세미콜론 붙이면 줄바꿈 안 해도 됨)
a=1; b=7; c=a+b
print(c)

8

In [15]:
a=5+10
c=a+11
print(f"c는 10+5+11로 {c}입니다.")

n='nayoung'
c=" is very nice"
print(f"{n}은{c}합니다~!")

c는 10+5+11로 26입니다.
nayoung은 is very nice합니다~!

#### 표현식(Expression)
- 파이썬을 포함한 프로그램 언어는 '표현식(expresstion)'과 '문장(statement)'이라는 것으로 구성
- '표현식(expression)'은 간단하게 '식'이라고 부르기도 하는데요, 하나 이상의 값으로 표현될 수 있는 코드를 의미
- 프로그램 언어에서 숫자나 문자 또는 수학의 사칙연산과 같은 것들이 표현식인 것입니다. 이것들은 그 자체만으로 어떠한 값을 갖는다고 평가
- 숫자, 문자 그리고 사칙연산 이외에도 이후에 보게 될 '함수 호출(반환되는 값)', '변수 이름과 같은 식별자' 등도 표현식에 포함

In [ ]:
100         #값을 가지므로 표현식
100+20      #마찬가지로 값을 가지므로 표현식
+ - / *     #자체만으로 값을 가지지 않으므로 표현식x

#### 문장(Statement)
- '문장(statement)'은 하나 이상의 표현식이 모인 것으로 프로그래밍에서는 실행 가능한 최소의 독립적인 코드 조각
- 문장은 단독적으로 컴파일러가 이해하고 실행할 수 있음
- 파이썬 코드의 한 줄, 또는 블록으로 된 것들을 하나의 문장이라고 할 수 있음
- 문장이 모여 하나의 '프로그램(program)'이 된다.
- 표현식이 모여 문장이 되고, 문장이 모여 프로그램이 되는 것

In [ ]:
word = "python"     # 하나의 문장입니다. 
a = 100 + 200       # 또 다른 하나의 문장입니다.

if a > 500:
    print(word)  #if문: 블록을 이루는 하나의 문장

#### 키워드(keyword)
- '키워드(keyword)'는 각 프로그램 언어에서 특정 용도로 사용하기 위해 만들어진 특별한 의미를 가지는 예약된 단어
- 프로그래밍 언어에서 사용자가 '변수'나 '함수' 등의 이름을 정할 때 키워드를 사용할 수 없다. 
- 키워드로 쓰이는 단어는 프로그램을 작성할 때 그 용도가 아니면 사용을 할 수 없기 때문에 어떤 단어가 키워드로 쓰이는지 알아야 함.

In [3]:
#python keyword

import keyword
print(keyword.kwlist,'\n')  # \n한 줄 띄기
print(len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

36

#### 식별자 기본 규칙
: 식별자는 프로그램 언어에서 변수, 함수, 클래스, 모듈, 속성을 식별하는 문자열 등 다른 객체를 표현하기 위해 이름붙일 때 사용하는 단어

- 키워드를 사용하면 안된다.
- 특수문자는 언더바(_)만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다

In [24]:
alpha
break    #키워드라서x
alpha10
_alpha
273alpha   #숫자로 시작하면x
Alpha
ALPHA
has space   #공백이 있어서x

SyntaxError: invalid syntax (4182709622.py, line 5)

https://bibi6666667.tistory.com/277
파이썬은 snake_case와 CamelCase를 모두 사용

- itemlist item_list IteList
- loginstatus login_status LoginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 -> 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 -> 변수

#### 주석(Comment)
- 주석(comment)은 프로그램에 영향을 주지 않는 것으로 프로그램을 실행할 경우 무시되는 코드 영역
- 주석은 보통 코드에서 중요한 부분에 대한 설명을 하기 위해 사용
- 테스트 중에 잠시 필요하지 않은 코드 조각을 실행하고 싶지 않을 때 해당 부분을 주석으로 처리

In [17]:
#변수에 값 대입하기
#값이 대입되는 시점에 변수의 자료형이 자동적으로 재지정 됨
#자료형(int, float, boolean, string)

number = 1
number + 2    #더하기는 했으나 값 대입x 즉 연산값 저장x
print(number, type(number))

number = 'one'
print(number, type(number))

1 <class 'int'>
one <class 'str'>

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형 
    - 정수형 : int는 정수(integer)를 나타낸다. (양의 정수/ 0/ 음의 정수)
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [ ]:
# 자료형 출력
a = 200
msg = 'I love Python'
list_data = ['a', 'b', 'c']
dict_data = {'a':97, 'b':98}

print(a)
print(msg)
print(list_data)
print(list_data[0])
print(dict_data)
print(dict_data['a'])

#### 시퀀스 자료 인덱싱
- 시퀀스 자료 인덱스는 0부터 시작하며 음수 인덱스도 가능
- 슬라이싱은 \[시작인덱스:끝인덱스:스텝\]으로 표현하며 스텝은 생략할 수 있음
- 자료형이 같은 시퀀스 자료를 순서있게 연결할 수 있다.

In [20]:
stdata='Time is money~!'
listdata=[1,2,[1,2,3]]
print(stdata[5])
print(stdata[-2])
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

i
~
1
[1, 2, 3]
3

In [25]:
#슬라이싱을 이용해 출력
stdata='Time is money~!'
print(stdata[1:4])
print(stdata[:7])
print(stdata[9:])
print(stdata[:])
print(stdata[::2])

ime
Time is
oney~!
Time is money~!
Tm smny!

In [28]:
sdata1='I love '; sdata2='Python'; sdata3='you'
listdata1=[1,2,3]; listdata2=[4,5,6]

print(sdata1+sdata2)
print(sdata1+sdata3)
print(listdata1+listdata2)

I love Python
I love you
[1, 2, 3, 4, 5, 6]

In [30]:
artist='빅뱅'
sing='뱅~'
print(f"{artist}이 부르는 {sing*3}")

빅뱅이 부르는 뱅~뱅~뱅~

In [34]:
stdata='I love Python'
stdata2='나는 파이썬을 사랑합니다.'
listd=['a','b','c',stdata,stdata2]

len(stdata),len(stdata2),len(listd)

(13, 14, 5)

In [43]:
listd=[1,2,3,4]
print(4 in listd)
print(5 in listd)

sdata='abcde'
print('c' in listd)
print('1' in listd)

True
False
False
False

In [45]:
#진수

int_data=10
bin_data=0b10   #2진수 0b로 시작
oct_data=0o10   #8진수 0o로 시작
hex_data=10     #16진수 0x로 시작
print(int_data, bin_data, oct_data, hex_data)

10 2 8 10

In [65]:
f1= 1.9
f2= 3.14
f3= 1.56e3     #1.58 x (10의 3승)

f= -7e-4
f4= -7e-5      #-7 x (10의 -5승)
f5= -0.7e-4    #-0.7 x (10의 -4승)
#숫자가 길어지니까 0.00007로 표기 안 하고 줄이는 거 (과학적 표기법 e)

print(0.00000007, 0.3562375673, 0.000032154, '\n')
#0 -> 4개 이상부터

print(f1,f2,f3)
print(f)
print(f"{f4:0.5f} = {f5}\n")

print(f"{-7/100000} = {-0.7/10000}")

7e-08 0.3562375673 3.2154e-05

1.9 3.14 1560.0
-0.0007
-0.00007 = -7e-05

-7e-05 = -7e-05

In [66]:
i=2; f=4.0
print(i+f)   -> 정수 + 실수 = 실수형

6.0

In [31]:
print("3이 있습니다.")
print("%d이 있습니다." %3)

3이 있습니다.
3이 있습니다.

In [27]:
#사람이 생각하는 방식을 그대로 표현할 수 있는 언어

if 3 in [1,2,3,4]: 
    print('3이 있습니다.')

3이 있습니다.

In [34]:
#사칙연산
a=10
b=3
c=a+b
d=a*b
e=a/b    #일반적인 나눗셈
f=a%b    #나머지
g=a//b   #몫
h=a**b   #제곱

print(a,b,c,d,e,f,g,h)

10 3 13 30 3.3333333333333335 1 3 1000

In [68]:
#다른 타입들 간 연산x
string='문자열'
number=273

string+str(number)
#string + number은 오류

'문자열273'

In [39]:
print(type(string), type(number))

<class 'str'> <class 'int'>

In [69]:
a=10
a='문자임'
print(a, type(a))

문자임 <class 'str'>

In [51]:
#복합대입 연산자
num=10     #10
num+=10    #20
num*=10    #200
num-=10    #190
num/=10    #19.0
print(num)
print(type(num))

19.0
<class 'float'>

In [55]:
a='나는 '
b='파이썬을 '
c='좋아한다 '
d='3.92'
print(a+b+c)
print(a+b+c+d)

나는 파이썬을 좋아한다
나는 파이썬을 좋아한다 3.92

In [58]:
#사용자 입력
number=input("전화번호를 입력하세요: ")
print(number, type(number))

전화번호를 입력하세요: 453-2378-4324
453-2378-4324 <class 'str'>

In [61]:
num1=input("첫 번째 숫자를 입력하세요: ")
num2=input("두 번째 숫자를 입력하세요: ")
print(num1+num2)    #둘 다 문자형이므로 연산이 아닌 문장의 이어짐으로 나옴
print(int(num1)+int(num2))     #숫자로 바꿔줘야 연산이 됨

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 5
35
8

In [62]:
num_1=int(input("첫 번째 숫자를 입력하세요: "))  #첨부터 int로 받기
num_2=int(input("두 번째 숫자를 입력하세요: "))

print(num_1+num_2)

첫 번째 숫자를 입력하세요: 56
두 번째 숫자를 입력하세요: 23
79

In [65]:
a=input('a를 입력하세요: ')
b=input('b를 입력하세요: ')
print(float(a)+float(b))

a를 입력하세요: 3
b를 입력하세요: 3.3
6.3

In [64]:
a=52
b=52.273
print(str(a)+str(b))

5252.273

In [68]:
#문자열 ""  , ''  , """ """  , ''' '''
p1="python's value is great"
#p2='python's value is great'    #홑따옴표 때문에 에러
print(p1)

python's value is great

In [80]:
s1='"python is valuable" he says'
s2='python\'s value is great'   #따옴표 앞에 \를 넣어주면 문자열로 인식
print(s1,'\n',s2)

"python is valuable" he says
 python's value is great

In [81]:
y1="Once you study data analysis \nYou need Python"
print(y1)

y2='''Once you study data analysis
You need Python'''   #3개짜리 따옴표 세트 -> 줄바꿈까지 전부 인식 ''' ''', """ """
print(y2)

Once you study data analysis
You need Python
Once you study data analysis
You need Python

In [84]:
str='''"What a wonderful world!" \nhe said loudly'''
print(str)

"What a wonderful world!"
he said loudly

In [88]:
a='Python '
b='is easy to learn'
print(a+b)
print(a*3)
print('='*20)

Python is easy to learn
Python Python Python
====================

In [108]:
#자료형 List[]

list1=[1,2,3,4,5]
list2=['a','b','c']
list3=[1,'a','abc',[3,56,1,2],['a','g','ds']]

print(list1,'\n',list2,'\n',list3,'\n')

print(list1[1], list1[4], list3[4][2])    #인덱싱은 0부터 시작
print(list3[2:],'\n')

list2[2] = 'kny'
print(list2)         #리스트 요소 수정
del list3[3][2:]    #리스트 요소 부분삭제
print(list3)

[1, 2, 3, 4, 5]
 ['a', 'b', 'c']
 [1, 'a', 'abc', [3, 56, 1, 2], ['a', 'g', 'ds']]

2 5 ds
['abc', [3, 56, 1, 2], ['a', 'g', 'ds']]

['a', 'b', 'kny']
[1, 'a', 'abc', [3, 56], ['a', 'g', 'ds']]

In [114]:
a=[0,1,2,3,4,5,5,6,7,8,9]
b=['a','b','c']
c=a+b
print(c)    

c[-1]=99    #뒤에서 첫번째에 있는 요소 수정
c[6]='vfas' #앞에서 7번째에 있는 요소 수정
print(c)

[0, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 'a', 'b', 'c']
[0, 1, 2, 3, 4, 5, 'vfas', 6, 7, 8, 9, 'a', 'b', 99]

In [71]:
b=[2,6,3,7,8,4543,21]
b.sort()   #오름차순 정렬(원본 리스트 변형)
print(b)

a=sorted(b, reverse=True)   #내림차순 정렬(원본 리스트 유지)
b.reverse()                 #내림차순 정렬(원본 리스트 변형)
print(a, b)

[2, 3, 6, 7, 8, 21, 4543]
[4543, 21, 8, 7, 6, 3, 2] [4543, 21, 8, 7, 6, 3, 2]

In [122]:
c=[1,3,5,23,6,2]
print(c.index(3))    #특정 인덱스 위치 반환

1

In [74]:
import numpy as np    #as -> 약칭 지정
c=np.random.randint(100,size=50).tolist()  #랜덤 50개 숫자, 중복가능 (0 <= x < 100)
#tolist -> 리스트로 변환해주는 거

print(c)     #list c
print(len(c))    #길이
print(c.index(1))   #첫번째 1의 위치

[61, 8, 19, 41, 92, 21, 24, 95, 55, 24, 20, 9, 3, 26, 17, 2, 19, 17, 3, 53, 0, 48, 37, 21, 90, 32, 36, 40, 91, 58, 20, 69, 85, 52, 38, 49, 8, 21, 70, 74, 1, 17, 34, 22, 64, 79, 54, 98, 71, 38]
50
40

In [131]:
c=[1,1,1,1,1,3,32,2,4,5,6,6,6,66,7,7,7,7,7]
print(c.count(7))     #특정 문자의 개수를 세어줌

5

In [133]:
a=[1,2,3]
a.extend([6,7])    #리스트 확장
print(a)

a.append(10)      #맨 끝에 추가
print(a)

a.insert(0,52)   #0번 자리에 52 삽입
a.insert(22,99)  #22번 자리는 없으므로 맨 끝에 삽입
print(a)

print(len(a))

[1, 2, 3, 6, 7]
[1, 2, 3, 6, 7, 10]
[52, 1, 2, 3, 6, 7, 10, 99]
8

In [153]:
list=[0,1,2,3,4,5,6,7,8,9]
a=[]
for i in range(0,10,2):
    a.append(list[i])
print(a)

[0, 2, 4, 6, 8]

In [154]:
list=[0,1,2,3,4,5,6,7,8,9]
a=[]
for i in range(1,10,2):
    a.append(list[i])
print(a)

[1, 3, 5, 7, 9]

In [165]:
list=[0,1,2,3,4,5,6,7,8,9]

list.reverse()                   #그냥 역순 뒤집기  
#li=sorted(list,reverse=True)    #역정렬

print(list[7:])

[2, 1, 0]

In [182]:
list=[0,1,2,3,4,5,6,7,8,9]
print(list[:])
print(list[::2])      #0부터 2개씩 건너뛰기 ::
print(list[1::2])     #1부터 2개씩 건너뛰기
print(list[1::3])     #1부터 3개씩 건너뛰기
print(list[2::-1])    #2부터 -1씩 건너뛰기

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[1, 4, 7]
[2, 1, 0]

In [75]:
dic={'a':1,'b':2,'c':3}
print(dic['b'])   #키를 통해 값에 접근 (순서x 인덱스 접근 불가)

dic['d']=4     #새로운 키:값 추가
print(dic)

2
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [81]:
#순서x, 중복x
s1=set([1,3,4,2,6,1])
s2=set('hello')
print(s1)
print(s2)

s2=list(s2)
print(s2)   #이런식으로 리스트로 변형 가능
print(s2[2])   #리스트로 변형하면 인덱스 사용 가능

{1, 2, 3, 4, 6}
{'h', 'e', 'o', 'l'}
['h', 'e', 'o', 'l']
o

#### True와 False
- 파이썬에서 참과 거짓을 나타내는 상수. True는 1, False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return

In [84]:
str1='abc'
str2='python'

str1<str2     #아스키 코드 비교 (뒤쪽 알파벳일수록 값이 큼)
not str1      #현재 str1값이 True이므로 반대 -> False

False

In [1]:
list1=[58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]

#1
print(list1[11][1])

#2
list1.append(82)
print(list1)

#3
print(list1.count(82))

#4
print(list1.index(87))

#5
list2=list1[3:11]
print(list2)
list2.sort(reverse=True)
print(list2)

#6
list1[8]=11    #a=list1.index(39)       list1[a]=11
print(list1)

#7
print(list1[2::-1])

#8
print(list1[::2])

#9
a=len(list1)
del list1[a-1]      #list1.pop() -> 리스트 맨 뒤 삭제
print(list1)

#10
print(list1[3]+list1[5], list1[3]-list1[5],list1[3]*list1[5],list1[3]/list1[5])

33
[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
2
5
[19, 4, 87, 29, 13, 39, 15, 54]
[87, 54, 39, 29, 19, 15, 13, 4]
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
[69, 45, 58]
[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
106 -68 1653 0.21839080459770116

In [ ]:
#여러 문자열을 입력받아 각각의 맨앞뒤 글자를 합치는 코드

num=int(input("테스트 문장 개수를 입력하세요(10이하): "))
listx=[]

if num>10:
    print("10보다 작은 수를 입력하세요.")
else:
    for i in range(num):
        a=input()
        b=a[0]+a[-1]
        listx.append(b)
print(''.join(listx))

In [17]:
while True:
    year=input("태어난 년도를 입력해주세요: ")
    if year.isdigit():      #문자열 내의 모든 문자가 숫자면 True 반환
        if int(year)<2000:
            print("1000 이상의 년도를 입력해주시기 바랍니다.")
        else:
            break
    else:
        print("숫자만 입력해주시기 바랍니다.")

num=int(year)%12
list=['잔나비띠','닭띠','개띠','돼지띠','쥐띠','소띠','범띠','토끼띠','용띠','뱀띠','말띠','양띠']
print("당신은 %s 입니다." %list[num])

태어난 년도를 입력해주세요: 122
1000 이상의 년도를 입력해주시기 바랍니다.
태어난 년도를 입력해주세요: ㅇ호ㅛㅓㄳ
숫자만 입력해주시기 바랍니다.
태어난 년도를 입력해주세요: 2021
당신은 소띠 입니다.

#### 파이썬에서 들여쓰기 
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

#### 이스케이프 문자
- 키보드로 입력하기 어려운 기호 등을 나타낸다.
- \로 시작, \n 줄바꾸기, \t 탭, \enter 줄계속, \\\ '\\' 기호 자체

#### 문자열 포멧
- % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형을 적어준다.
- str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
- f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.

In [88]:
#f-string
table={'tom':1234,'jack':4518,'eddle':9638}
for name, phone in table.items():
    print(f"{name:6} =>{phone:10d}")        #10d: 10자 분량의 공백

tom    =>      1234
jack   =>      4518
eddle  =>      9638

#### 제어문
- 조건문(if문) : \~하면 \~해라
- 반복문(for, while) : 많은 일들을 반복해야 할 때

제어문, 조건문, 반복문 : https://velog.io/@osdsoonhyun/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%A0%9C%EC%96%B4%EB%AC%B8

In [92]:
money=int(input("현재 소지한 돈을 입력해주세요: "))

if money>0:
    print("택시를 탔습니다!")
else:
    print("돈이 없어 집까지 걸어왔습니다.")

현재 소지한 돈을 입력해주세요: 200
택시를 탔습니다!

for문의 범위로 사용되는 것은 시퀀스 자료형 또는 반복 가능한 자료이어야 한다.
- 문자열, 리스트나 튜플, 사전, range(), 그 외 반복 가능한 객체

In [93]:
d={'a':97,'b':98,'c':99}
for k,v in d.items():
    print(f"{k}:{v}")

a:97
b:98
c:99